.DS_Store
appFrontEnd/node_modules 
react-admin/node_modules 
taro-app/node_modules 
vuePress-Blog/node_modules 
node-express-ts-api/node_modules 
node-ts-koa-rest/node_modules 
node-express-ts-api/build 
koa2-mongodb-blog/node_modules 
blog-service-nest/node_modules 
*/node_modules 
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
